.students {
    // .students__table-wrapper
    &__table-wrapper {
        overflow-x: auto;
        margin-bottom: 1rem;
    }
    // .students__table
    &__table {
        width: 100%;
        min-width: 32.5rem;
    }
    // .students__pagination
    &__pagination {
        justify-content: flex-end;
    }
}