@import "../../../assets/styles/mixins.scss";

.department-form {
    // .department-form__label
    &__label {
        margin-bottom: 10px;
    }
    // .department-form__input
    &__input {
        width: 100%;
        margin-bottom: 2.5px;
    }
    // .department-form__actions
    &__actions {
        @include flex-center(0.6rem, flex-end);
        padding-top: 1rem;
        margin-top: 1rem;
        border-top: 1px solid $grey;
    }
}
