@import "../../../assets/styles/vars.scss";

.work-plan-form {
    // .work-plan-form__label
    &__label {
        &--mb {
            margin-bottom: 0.6rem;
        }
        @media (max-width: $mobileMiddle) {
            width: 100%;
        }
    }
    // .work-plan-form__textarea
    &__textarea {
        width: 100%;
        min-height: 100px;
    }
    // .work-plan-form__input
    &__input {
        width: 100%;
    }
    // .work-plan-form__row
    &__row {
        display: flex;
        gap: 0.6rem;
        margin-bottom: 10px;
        @media (max-width: $mobileMiddle) {
            flex-wrap: wrap;
        }
    }
}
