@import "../../../assets/styles/mixins.scss";

.alert {
    margin-bottom: 0.8rem;
}

.title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
    li {
        @include flex-center(0.8rem, space-between);
    }
}

.nameBtn {
    font-size: 1.1rem;
    color: $blue;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover {
        text-decoration: underline;
    }
    &:disabled {
        opacity: 0.5;
    }
}

.itemActions {
    @include flex-center(0.3rem);
}

.fileBtn {
    @include flex-center;
    padding: 4px;
    border-radius: 100%;
    &:hover {
        fill: $red;
        background-color: rgba($grey, 0.5);
    }
    &:disabled {
        opacity: 0.75;
        pointer-events: none;
    }
    svg {
        width: 28px;
        height: 28px;
        transition: fill 0.15s ease;
        &.download path {
            stroke: $green;
        }
        &.delete {
            fill: $red;
        }
    }
}

.fileLoader {
    width: 28px;
    height: 28px;
    margin-right: 4px;
}

.input {
    margin-top: 10px;
}

.controls {
    @include flex-center(0.6rem, flex-end);
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid $grey;
    @media (max-width: $mobileSmall) {
        flex-direction: column;
    }
    button {
        @include flex-center(0.3rem);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
}
