@import "../../../assets/styles/mixins.scss";

.work-plan-report-form {
    @include flex-center(1rem);
    flex-wrap: wrap;
    // .work-plan-report-form__label
    &__label {
        text-align: center;
    }
    // .work-plan-report-form__input
    &__input {
        width: 100%;
    }
}
