@import "../../../assets/styles/mixins.scss";

.plan-report-form {
    // .plan-report-form__label
    &__label {
        width: 100%;
    }
    // .plan-report-form__select
    &__select {
        width: 100%;
    }
    // .plan-report-form__select-control
    &__select-control {
        height: 100%;
        display: flex;
        align-items: center;
    }
    // .plan-report-form__select-placeholder
    &__select-placeholder {
        color: $black;
        font-size: 1rem;
    }
    // .plan-report-form__actions
    &__actions {
        display: flex;
        justify-content: flex-end;
        padding-top: 1rem;
        margin-top: 1rem;
        border-top: 1px solid $grey;
    }
    // .plan-report-form__btn
    &__btn {
        align-self: flex-end;
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}
