@import "../../../../assets/styles/vars.scss";
@import "../../../../assets/styles/mixins.scss";

.modal-header {
    @include flex-center(10px, space-between);
    border-bottom: 1px solid $grey;
    padding: 1rem 2rem;
    // .modal-header__title
    &__title {
        @media (max-width: $mobileMiddle) {
            font-size: 0.9rem;
        }
    }
    // .modal-header__close-btn
    &__close-btn {
        padding: 0.2rem;
        &:hover .modal-header__close-icon {
            fill: $black;
        }
    }
    // .modal-header__close-icon
    &__close-icon {
        fill: $grey;
        transition: fill 0.2s ease;
    }
}
