@import "../../../../assets/styles/vars.scss";

.bodyCell {
    font-size: 1rem;
    line-height: 1.45;
    padding: 0.5rem;
    font-weight: 400;
    border: 1px solid $grey;
    text-align: center;
    max-width: 13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: $pcBig) {
        font-size: 0.8rem;
    }
    @media (max-width: $mobile) {
        font-size: 0.75rem;
    }
}
