.plan-report-modal {
    // .plan-report-modal__alert
    &__alert {
        margin-bottom: 1rem;
    }
    // .plan-report-modal__year
    &__year {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
}