@import "../../../assets/styles/mixins.scss";

.text {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

.wrapper {
    @include flex-center(0, space-between);
    @include control;
    padding: 0 0 0 1rem;
    height: 40px;
}

.field {
    font-size: 17px;
    color: grey;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &.active {
        color: $green;
    }
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%;
    flex-shrink: 0;
    font-size: 17px;
    text-align: center;
    color: #2e2e2e;
    background-color: #e2e2e2;
    transition: background-color 0.15s ease;
    cursor: pointer;
    &:hover {
        background-color: darken(#e2e2e2, 10%);
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
