@import "../../assets/styles/vars.scss";

.missing-page {
    text-align: center;
    padding: 100px 20px 20px;
    // .missing-page__title
    &__title {
        font-size: 25px;
        margin-bottom: 10px;
        @media (max-width: $mobile) {
            font-size: 23px;
        }
    }
    // .missing-page__subtitle
    &__subtitle {
        margin-bottom: 5px;
    }
    // .missing-page__text
    &__text {
        color: $darkblue;
    }
    // .missing-page__link
    &__link {
        color: $blue;
        text-decoration: underline;
        white-space: nowrap;
        &:hover {
            text-decoration: underline;
        }
    }
}