@import "../../../../assets/styles/vars.scss";
@import "../../../../assets/styles/mixins.scss";

.menu {
    // .menu__list
    &__list {
        display: flex;
        flex-direction: column;
        width: 17.125rem;
        @media (max-width: $tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }
    }
    // .menu__item
    &__item {
        border-bottom: 1px solid $grey;
        cursor: pointer;
        max-width: 274px;
        width: 100%;
        &:hover {
            background-color: rgba($grey, 0.4);
        }
        @media (max-width: $tablet) {
            max-width: none;
        }
    }
    // .menu__link-icons-wrapper
    &__link-icons-wrapper {
        @include flex-center(0, flex-start);
        margin-right: 5px;
    }
    // .menu__link-icon
    &__link-icon {
        &:first-child {
            rect {
                fill: red;
            }
        }
        &:last-child {
            margin-left: -9px;
        }
    }
    // .menu__link
    &__link {
        display: block;
        padding: 0.95rem 0.5rem 0.95rem 1rem;
        font-size: 0.888rem;
        line-height: 1.35;
        color: inherit;
        position: relative;
        &--active {
            color: $blue;
            &::before {
                content: "";
                display: block;
                width: 5px;
                height: 5px;
                background-color: black;
                border-radius: 100%;
                @include position(51%, 4px);
                transform: translateY(-50%);
            }
        }
        &--back {
            @include flex-center(0, flex-start);
        }
    }
}
