.tableWrapper {
    overflow-x: auto;
    margin-bottom: 1rem;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    tbody.opacity {
        opacity: 0.5;
        pointer-events: none;
    }
}

.depCell {
    min-width: 13.75rem;
}

.loader {
    margin: 2rem auto 0;
}
