@import "../../assets/styles/mixins.scss";

.confirm {
    // .confirm__wrapper
    &__wrapper {
        padding: 1rem;
    }
    // .confirm__title
    &__title {
        color: $black;
        font-size: 18px;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    // .confrim__message
    &__message {
        font-size: 0.95rem;
        color: #727070;
        text-align: center;
    }
    // .confirm__actions
    &__actions {
        @include flex-center(0.6rem, flex-end);
        padding: 1rem;
        border-top: 1px solid $grey;
    }
}
