@import "../../assets/styles/mixins.scss";

.employees-page {
    width: 100%;
    // .employees-page__info
    &__info {
        margin-bottom: 40px;
    }
    // .employees-page__wrapper
    &__wrapper {
        @include flex-center(12px, space-between);
        margin: 20px 0 30px;
        flex-wrap: wrap;
        @media (max-width: $mobile) {
            margin: 20px 0;
        }
    }
    // .employees-page__button
    &__button {
        align-self: flex-end;
    }
}
