@import "../../../assets/styles/vars.scss";

.menu-layout {
    display: flex;
    gap: 20px;
    @media (max-width: 1260px) {
        flex-direction: column;
    }
    // .menu-layout__menu
    &__menu {
        padding-left: 2rem;
        margin-top: 48px;
        @media (max-width: $pc) {
            padding-left: 0;
        }
        @media (max-width: 1260px) {
            margin-top: 0;
        }
    }
}
