@import "../../../assets/styles/vars.scss";

.pagination-item {
    color: $blue;
    padding: 0.375rem 0.65rem;
    border: 1px solid $grey;
    cursor: pointer;
    &:hover {
        background-color: lighten($grey, 10%);
    }
    &--active {
        color: $white;
        background-color: $blue;
        pointer-events: none;
    }
    // .pagination-item__button
    &__button {
        color: inherit;
        font-size: 0.8rem;
    }
}
