@import "../../assets/styles/mixins.scss";

.page {
    width: 100%;
}

.section {
    margin-bottom: 40px;
}

.wrapper {
    @include flex-center(12px, space-between);
    margin: 20px 0 30px;
    flex-wrap: wrap;
    @media (max-width: $mobile) {
        margin: 20px 0;
    }
}

.search {
    width: 280px;
    @media (max-width: $mobileSmall) {
        width: 80%;
    }
}

.actions {
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
    @media (max-width: $mobileSmall) {
        width: 100%;
    }
}
