@import "../../../assets/styles/mixins.scss";

.plan-form {
    // .plan-form__label
    &__label {
        &--mb {
            margin-bottom: 0.6rem;
        }
        @media (max-width: $mobileMiddle) {
            width: 100%;
        }
    }
    // .plan-form__textarea
    &__textarea {
        color: $lightblack;
        width: 100%;
        min-height: 100px;
        margin-bottom: 2.5px;
    }
    // .plan-form__input
    &__input {
        color: $lightblack;
        width: 100%;
        margin-bottom: 2.5px;
    }
    // .plan-form__row
    &__row {
        display: flex;
        gap: 0.6rem;
        @media (max-width: $mobileMiddle) {
            flex-wrap: wrap;
        }
    }
    // .plan-form__actions
    &__actions {
        @include flex-center(1rem, space-between);
        padding-top: 1rem;
        margin-top: 1rem;
        border-top: 1px solid $grey;
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            gap: 0.6rem;
        }
    }
    // .plan-form__materials-icon
    &__materials-icon {
        height: 20px;
        width: 20px;
        fill: $white;
    }
    // .plan-form__actions-wrapper
    &__actions-wrapper {
        @include flex-center(0.6rem, flex-end);
        width: 100%;
    }
    // .plan-form__add-button
    &__add-button {
        margin-left: auto;
    }
    // .plan-form__action-button
    &__action-button {
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
        &--materials {
            @include flex-center(0.5rem);
        }
    }
}
