.plan {
    // .plan__loader
    &__loader {
        margin: 2rem auto 0;
    }
    // .plan__table-wrapper
    &__table-wrapper {
        overflow-x: auto;
        margin-bottom: 1rem;
    }
    // .plan__table
    &__table {
        min-width: 40.625rem;
        width: 100%;
        margin-bottom: 1rem;
    }
    // .plan__table-body
    &__table-body {
        &--opacity {
            opacity: 0.5;
            pointer-events: none;
        }
    }
    // .plan__table-row
    &__table-row {
        &--empty {
            background-color: #eff6ff;
            &:hover {
                background-color: darken(#eff6ff, 2%);
            }
        }
    }
    // .plan__table-date-cell
    &__table-date-cell {
        white-space: nowrap;
    }
    // .plan__table-date-column
    &__table-topic-column {
        min-width: 13.75rem;
    }
    // .plan__table-name-cell
    &__table-name-cell {
        min-width: 11rem;
    }
    // .plan__pagination
    &__pagination {
        justify-content: flex-end;
    }
}
