@import "../../../assets/styles/vars.scss";

.Dropdown-root {
    font-size: 0.8rem;
}
.Dropdown-option {
    &.is-selected {
        background-color: rgba($blue, 0.7);
        color: $white;
        &:hover {
            background-color: rgba($blue, 0.7);
            color: $white;
        }
    }
    &:hover {
        background-color: rgba($cyan, 0.15);
    }
}
.Dropdown-menu {
    position: static;
}
.Dropdown-placeholder {
    font-size: 0.9rem;
    color: $lightblack;
}