.departments {
    // .departments__table-wrapper
    &__table-wrapper {
        overflow-x: auto;
        margin-bottom: 1rem;
    }
    // .departments__table
    &__table {
        width: 100%;
    }
    // .departments__pagination
    &__pagination {
        justify-content: flex-end;
    }
}