@import "../../assets/styles/mixins.scss";

.page {
    width: 100%;
}

.section {
    margin-bottom: 40px;
}

.wrapper {
    @include flex-center(12px, space-between);
    margin: 20px 0 30px;
    flex-wrap: wrap;
    @media (max-width: $mobile) {
        margin: 20px 0;
    }
}
