@import "../../../../assets/styles/vars.scss";

.divisions-item {
    border: 1px solid $grey;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.15s ease, color 0.15s ease;
    @media (min-width: $tablet) {
        &:hover {
            background-color: rgba($grey, 0.5);
            color: $blue;
        }
    }
    // .divisions-item__link
    &__link {
        display: block;
        padding: 1.2rem 1.4rem;
        width: 100%;
        color: inherit;
        @media (max-width: $pcBig) {
            padding: 1rem 1.2rem;
        }
    }
    // .divisions-item__title
    &__title {
        font-size: 1.1rem;
        line-height: 1.3;
        @media (max-width: $pcBig) {
            font-size: 0.94rem;
        }
    }
}
