@import "../../assets/styles/vars.scss";

.page-heading {
    // .page-heading__title
    &__title {
        font-size: 2rem;
        margin-bottom: 8px;
        @media (max-width: $mobile) {
            font-size: 1.7rem;
        }
    }
    // .page-heading__subtitle
    &__subtitle {
        font-size: 1.3rem;
        @media (max-width: $mobile) {
            font-size: 1rem;
        }
    }
}