@import "../../assets/styles/mixins.scss";

.search {
    display: block;
    position: relative;
    input {
        font-size: 1rem;
        width: 100%;
        padding-left: 34px;
        &:focus ~ .search__icon {
            fill: $black;
        }
    }
    svg {
        height: 18px;
        width: 18px;
        @include position(50%, 10px);
        transform: translateY(-50%);
        fill: darken($grey, 30%);
    }
}
