@import "../../../../assets/styles/vars.scss";

.footer {
    background-color: $darkblue;
    padding: 0.8rem 0;
    img {
        height: 41px;
        @media (max-width: $mobile) {
            width: 160px;
        }
    }
}
