@import "../../assets/styles/mixins.scss";

.login-page {
    height: 100%;
    @include flex-center;
    // .login-page__body
    &__body {
        max-width: 22rem;
        width: 100%;
        border: 1px solid $grey;
        border-radius: 10px;
        padding: 1.2rem 1.4rem;
    }
    // .login-page__title
    &__title {
        text-align: center;
        margin-bottom: 1rem;
    }
    // .login-page__alert 
    &__alert {
        margin-bottom: 10px;
    }
}