@import "../../assets/styles/vars.scss";

.pagination {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.link {
    font-size: 1.2rem;
    padding: 0.46rem 0.7rem;
    color: $blue;
    border: 1px solid $grey;
    cursor: pointer;
    &:hover {
        background-color: lighten($grey, 10%);
    }
    @media (max-width: $pcBig) {
        font-size: 0.9rem;
        padding: 0.36rem 0.6rem;
    }
}

.active {
    color: $white;
    background-color: $blue;
    &:hover {
        background-color: $blue;
        cursor: default;
    }
}
