@import "./vars.scss";

html,
body, #root {
    height: 100%;
    width: 100%;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $black;
    &.overflow {
        overflow: hidden;
    }
}
.visually-hidden {
    position: fixed;
    font-size: 0;
    left: -1000px;
    top: -1000px;
    width: 0.1px;
    height: 0.1px;
    margin: -1px;
    opacity: 0;
    z-index: -1;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
