@font-face {
    font-family: "Verdana";
    src: local("Verdana"), url("./../fonts/Verdana.eot") format("embedded-opentype"),
        url("./../fonts/Verdana.woff") format("woff"), url("./../fonts/Verdana.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
