*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
footer{
    display: block;
}
body {
    margin: 0;
    padding: 0;
}
ul, li{list-style: none;}
a:hover{text-decoration: none;}
a{
    text-decoration: none;
}
input {
    width: 0;
}
button{
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: inherit;
}
h6,h5,h4,h3,h2,h1{
    font-weight: 400;
    margin: 0;
}
input, select, textarea, button {
    font-family: inherit;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}