//<====Breakpoints=====>
$pcBig: 1720px; //большие мониторы
$pc: 1360px; //пк и ноутбуки
$tablet: 991.98px; //планшеты
$mobile: 767.96px; //телефоны
$mobileMiddle: 677px; //телефоны
$mobileSmall: 479.98px; //телефоны

//<=====Font========>
$fontFamily: "Verdana";
$fontSize: 16px;

//<====Colors=======>
$white: #fff;
$black: #000;
$darkblue: #24305e;
$blue: #1c6fbc;
$cyan: #009cbc;
$grey: #dadada;
$red: #e4032e;
$darkyellow: #afcb37;
$yellow: #ffc107;
$green: #309465;
