@import "../../assets/styles/mixins.scss";

.attendance-page {
    width: 100%;
    // .attendance-page__info
    &__info {
        margin-bottom: 40px;
    }
    // .attendance-page__wrapper
    &__wrapper {
        @include flex-center(12px, space-between);
        margin: 20px 0 30px;
        flex-wrap: wrap;
    }
}
