@import "../../../assets/styles/vars.scss";
@import "../../../assets/styles/mixins.scss";

.modal-layout {
    @include position(0, 0, fixed);
    background-color: rgba($black, 0.6);
    height: 100%;
    width: 100%;
    // .modal-layout__wrapper
    &__wrapper {
        @include flex-center;
        height: 100%;
        width: 100%;
    }
    // .modal-layout__body
    &__body {
        background-color: $white;
        border-radius: 10px;
        max-width: 500px;
        width: 100%;
    }
}
