@import "../../../assets/styles/vars.scss";

.label {
    cursor: pointer;
    display: block;
}

.text {
    font-size: 1rem;
    margin-bottom: 0.4rem;
    @media (max-width: $pcBig) {
        font-size: 0.95rem;
    }
}
