.employees {
    // .employees__loader
    &__loader {
        margin: 2rem auto 0;
    }
    // .employees__table-wrapper
    &__table-wrapper {
        overflow-x: auto;
        margin-bottom: 2.2rem;
    }
    // .employees__table
    &__table {
        width: 100%;
        min-width: 26.875rem;
    }
    // .employees__table-body
    &__table-body {
        &--opacity {
            opacity: 0.5;
            pointer-events: none;
        }
    }
    // .employees__pagination
    &__pagination {
        justify-content: flex-end;
    }
}
