.work-plan {
    // .work-plan__table-wrapper
    &__table-wrapper {
        overflow-x: auto;
        margin-bottom: 1rem;
    }
    // .work-plan__table
    &__table {
        min-width: 40.625rem;
        width: 100%;
    }
    // .work-plan__pagination
    &__pagination {
        justify-content: flex-end;
    }
}