@import "../../../assets/styles/vars.scss";

.action-button {
    height: 2.5rem;
    font-size: 0.75rem;
    padding: 0.375rem 1.5rem;
    border-radius: 3px;
    transition: background-color 0.15s ease;
    border: 1px solid transparent;
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &:focus {
        border-color: $blue;
    }
    &--submit {
        background-color: $yellow;
        color: $black;
        &:hover {
            background-color: darken($yellow, 10%);
        }
    }
    &--delete {
        background-color: $red;
        color: $white;
        &:hover {
            background-color: darken($red, 10%);
        }
    }
    &--add {
        background-color: $cyan;
        color: $white;
        &:hover {
            background-color: darken($cyan, 10%);
        }
    }
}
