.attendance {
    // .attendance__table-wrapper
    &__table-wrapper {
        margin-bottom: 1rem;
        overflow-x: auto;
    }
    // .attendance__table
    &__table {
        width: 100%;
        min-width: 40.625rem;
    }
    // .attendance__pagination
    &__pagination {
        justify-content: flex-end;
    }
}
