@import "../../../assets/styles/vars.scss";

.listItem {
    padding: 10px 12px;
    cursor: pointer;
    font-size: 0.9rem;
    &:hover {
        background-color: rgba($cyan, 0.15);
    }
    &.selected {
        background-color: rgba($blue, 0.7);
        color: $white;
        &:hover {
            background-color: rgba($blue, 0.7);
            color: $white;
        }
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
